
        <router-outlet></router-outlet>

<!-- <div class="container mt-5 mb-5 position-relative">
  <div class="row mt-5 ">
    <div class="col-md-6 mt-5">
      <button class="btn btn-outline-info btn-block p-4" (click)="SignUp()"><i class="fa fa-user"></i>  Sign Up</button>
    </div>
    <div class="col-md-6 mt-5">
      <button class="btn btn-outline-info btn-block p-4"  routerLink="/signIn" routerLinkActive="active"><i class="fa fa-sign-in"></i>  Sign In</button>
    </div>
  </div>
</div>
 -->
